.banner {
  background-color: #feeae9;
}
#buy-btn {
  background-color: #ff589b;
  background-color: #ff136f;
  color: white;
}
footer {
  background-color: #fff2f1;
}
#footer-button {
  background-color: #ff136f;
  color: white;
}
